<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/estilos.css"> <!-- ejemplo de archivo estático -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/inicioSesion.ejs">Iniciar sesión</a></li>
        <li><a href="/index.ejs">Index</a></li>
        <li><a href="/panelControl.ejs">Panel de control</a></li>
    </ul>

    <h2>página: <%= titulo %></h2>
    
</body>
</html>