<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <!-- <link rel="stylesheet" href="/styles/styles.css"> ejemplo de archivo estático -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/inicioSesion">Iniciar sesión</a></li>
        <li><a href="/panelControl">Panel de control</a></li>
        <li><a href="/cerrarSesion">Cerrar sesión</a></li>
    </ul>
    <h2>Bienvenido, <%= nombre %>!</h2>

    <a href="http://127.0.0.1:5500/public/paginatest.html" target="_blank" >Ir a la tienda</a>

    
  </ul>
</body>
</html>
