<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/estilos.css"> <!-- ejemplo de archivo est치tico -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/inicioSesion.ejs">Iniciar sesi칩n</a></li>
        <li><a href="/index.ejs">Index</a></li>
        <li><a href="/cerrarSesion.ejs">Cerrar sesi칩n</a></li>
    </ul>

    <h2>p치gina: <%= titulo %></h2>
    
</body>
</html>